<li class="row">
	
	<div class="col-12 col-sm-12 col-md-5 col-lg-7 col-xl-8 ml-0 mr-0">
		{{burger_name}}
	</div>
	<div class="col-12 col-sm-12 col-md-7 col-lg-5 col-xl-4 ml-0 mr-0 form-group">
          <input type="text"  id="nm{{id}}" class="nm" name="user" value='customer?'
		  	onblur="if (this.value == '') {this.value = 'customer?';}"
			onfocus="if (this.value == 'customer?') {this.value = '';}"/>
		<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
			{{#if devoured}}devour It!{{/if}}
		</button>

	</div>
	
</li>