<div class="row devoured">
        <li class="mb-1">
                
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        {{burger_name}} Eaten by {{user_name}}
                </div>
                
        </li>
</div>